<div class="container">
 <form [formGroup] = "personForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
       <label>First Name</label>
       <input type="text" class="form-control" formControlName="firstName"/>
    </div>

    <div class="alert alert-danger" *ngIf="personForm.controls['firstName'].hasError('required')">
        firstName is cannot be Empty
    </div>
    <div class="alert alert-danger" *ngIf="personForm.controls['firstName'].hasError('minlength')">
        Minimum three character for firstName
    </div>
    <div class="alert alert-danger" *ngIf="personForm.controls['firstName'].hasError('maxlength')">
        Maximum ten character for firstName
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" formControlName="lastName"/>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="email"/>
    </div>

    <div class="form-group">
      <label>Gender</label>
      <input type="radio" class="form-control" value="male" formControlName="gender">Male
      <input type="radio" class="form-control" value="female" formControlName="gender">Female
    </div>

    <div class="form-group" formGroupName="address">

      <div class="form-group">
        <label>Street</label>
        <input type="text" class="form-control" formControlName="street"/>
      </div>

      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" formControlName="city"/>
      </div>

      <div class="form-group">
        <label>Country</label>
        <select class="form-control" formControlName="country">
          <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
        </select>
      </div>

      <div align="center">
        <input type="submit" class="btn btn-success">
      </div>

</div>
</form>